<!DOCTYPE HTML>

<html>
  <head>
    <title>Welcome Home!</title>
  </head>
  <body>
    <h1>Home</h1>
    <p>This is a home page.  It's the landing site for my Ruby on Rails
      test page.  Yes, it's very basic.  No, I'm not putting a lot of time
      into the HTML portion of this assignment.</p>
    
    <%= link_to 'About Me', about_path%>
  </body>
</html>